<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head" th:with="pageTitle='Список кинотеатров'"></head>
<body>

<div class="main"><header th:include="fragments/header"></header><div class="data">
    <div class="container">
        <h4 class="wh">Пробить билет</h4>
    </div>
    <div class="container">
        <h4 class="wh">Добавить фильм</h4>
        добавить фильм
    </div>
    <div class="container">
        <h4 class="wh">Добавить сеанс</h4>
    </div>
    <div class="container">
        <h4 class="wh">Добавить новость</h4>
    </div>
    <div class="container">
        <h4 class="wh">Изменение кинотеатра</h4>
    </div>
    <div class="container">
        <h4 class="wh">Статус серверов</h4>
    </div>
</div><footer th:include="fragments/footer"></footer></div>

</body>
</html>