<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head" th:with="pageTitle='Список кинотеатров'"></head>
<body>

<div class="main"><header th:include="fragments/header"></header><div class="data">

    <div th:each="cinema: ${cinemas}">
        <a title="Перейти к расписанию" style="text-decoration: none;" th:href="@{/schedule/{id}(id=${cinema.getId()})}">
            <div class="container cntr conHwer" style="width: 60%">
                <h4 class="bl" th:text="${cinema.getName()}"></h4>
                <div style="width: 100%">
                    <img style="width: 45%; display: initial;" th:src="${cinema.getImagePath()}"/>
                </div>
                <span class="bl" style="margin-left: 30px; margin-right: 30px; text-align: left" th:text="${cinema.getDescription()}"></span>
            </div>
        </a>
    </div>

</div><footer th:include="fragments/footer"></footer></div>

</body>
</html>