<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head" th:with="pageTitle='Правила'"></head>
<body>

<div class="main"><header th:include="fragments/header"></header><div class="data">
    <div class="container conHwer">
        <h5 class="dark">Данный сайт является настоящим кинотеатром!<br> Этот сайт представляет собой пример настоящего сайта кинотеатра</h5>
    </div>
    <div class="container left conHwer">
        <h4>
            Правила пользования услугой онлайн покупки билетов на КиноДень
        </h4>

        <p>Выбирая услугу онлайн покупки билетов, пользователь соглашается с Правилами пользования услугой онлайн покупки билетов на сайте КиноДень.ру, а также Правилами посещения того кинотеатра, в который приобретается билет.</p> Правила посещения кинотеатров размещены ниже настоящих Правил, а также в разделе «О сети» на странице каждого кинотеатра.
        <br>
        <p>Услуга онлайн покупки билетов доступна всем пользователям сайта КиноДень</p><br>
        <p>Оплата билетов онлайн – это покупка билетов на места, выбранные пользователем, посредством банковской карты.</p><br>
        <h4>
            Онлайн билеты:
        </h4>
        <p>
        Можно распечатать в терминале самообслуживания, который находится в фойе кинотеатра (не позднее, чем через 15 минут после начала сеанса). В этом случае покупатель получает посадочный талон, который активируется при входе в зал администратором зрительного зала.
        показать на экране мобильного телефона при входе в зал раздел Заказы на сайте или в мобильном приложении Киномир. В этом случае электронный билет активируется администратором зрительного зала с мобильного телефона.
        </p><br>
        С момента продажи пользователю билета онлайн Договор на кинообслуживание считается заключенным.
        Для онлайн оплаты доступно неограниченное количество билетов.
        <br>
        Кинотеатр оставляет за собой право изменения стоимости билета любое количество раз за время проката фильма.
        <br>
        Для процесса оплаты билетов онлайн системой установлен лимит - 15 минут. Оплатой считается факт поступления денежных средств на расчетный счет юридического лица, осуществляющего показ фильма в кинотеатре. Операция списания денежных средств с расчетного счета пользователя при онлайн оплате билетов и поступление их на расчётный счет юридического лица, осуществляющего показ фильма в кинотеатре, может занять некоторое время, что необходимо учитывать при оплате в конце установленного лимита.
        Услуга онлайн покупки сопровождается созданием виртуального билета. Каждому заказу присваивается индивидуальный номер и пароль, которые сообщаются пользователю посредством письма на электронную почту или в личном кабинете на сайте.<br> Уточнить информацию о своем заказе зритель может в разделе личного кабинета. <br>
        Пользователь несёт ответственность за хранение и конфиденциальность информации, на основании владения которой он имеет право на получение билета(ов).<br>
        <br>
        В случае, если при проходе в кинозал заказ (на экране смартфона или распечатанный в терминале самообслуживания) предъявляется более, чем одним пользователем, обладающим данной информацией, билеты выдаются первому, кто предъявит заказ и данные о нем.
        <br>
        Для распечатки билетов в терминале самообслуживания пользователь должен ввести в соответствующее поле на экране терминала номер заказа и пароль.<br>
        Оплаченный онлайн билет можно не распечатывать. Для того, чтобы пройти на сеанс, необходимо показать администратору кинозала сайт или мобильное приложение «Киномир» на вашем смартфоне, раздел Заказы. Администратор активирует оплаченный заказ (электронный билет).<br>
        При онлайн оплате билеты, если необходимо, можно распечатать в терминале самообслуживания, расположенном в фойе того кинотеатра сети «Киномир», куда они приобретены.<br><br>
        <br>
        При оплате билетов на сайте зритель может воспользоваться скидкой по своей дисконтной карте. Для этого дисконтную карту необходимо привязать к аккаунту пользователя на сайте www.КиноДень.ру.

        Поддержка пользователей осуществляется в рабочие дни (с понедельника по пятницу) с 9:00 до 17:00 посредством электронной почты, ответа на сайте или по почте kinoday3@mail.ru.
    </div>
</div><footer th:include="fragments/footer"></footer></div>

</body>
</html>