<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head" th:with="pageTitle='Правила'"></head>
<body>

<div class="main"><header th:include="fragments/header"></header><div class="data">

    <div class="container conHwer">
        <h4>
            Правила пользования услугой онлайн покупки билетов на КиноДень
        </h4>

        Выбирая услугу онлайн покупки билетов, пользователь соглашается с Правилами пользования услугой онлайн покупки билетов на сайте kino-mir.ru, а также Правилами посещения того кинотеатра, в который приобретается билет. Правила посещения кинотеатров размещены ниже настоящих Правил, а также в разделе «О сети» на странице каждого кинотеатра.
        Настоящие Правила разработаны в соответствии с Конституцией РФ, Гражданским кодексом РФ, Законом РФ от 07.02.1992 № 2300-1 «О защите прав потребителей», Правилами кинообслуживания населения, утвержденными постановлением Правительства РФ от 17.11.1994 №1264.
        Услуга онлайн покупки билетов доступна всем пользователям сайта КиноДень
        Оплата билетов онлайн – это покупка билетов на места, выбранные пользователем, посредством банковской карты.

        Онлайн билеты:

        можно распечатать в терминале самообслуживания, который находится в фойе кинотеатра (не позднее, чем через 15 минут после начала сеанса). В этом случае покупатель получает посадочный талон, который активируется при входе в зал администратором зрительного зала.
        показать на экране мобильного телефона при входе в зал раздел Заказы на сайте или в мобильном приложении Киномир. В этом случае электронный билет активируется администратором зрительного зала с мобильного телефона.
        С момента продажи пользователю билета онлайн Договор на кинообслуживание считается заключенным.
        Для онлайн оплаты доступно неограниченное количество билетов. Однако совершать покупку необходимо поэтапно - по 6 билетов - в одном заказе может быть 6 билетов. После оплаты первых шести выделенных билетов пользователь может продолжить процесс оплаты остальных билетов.
        На диваны Love Seat единовременно происходит покупка двухместного дивана (два билета). Приобрести (онлайн или в кассе) можно только оба билета. Возврат билетов на Love Seat невозможен по одному – только оба билета на диван подлежат возврату (распечатанные в кассе или оплаченные онлайн).
        Кинотеатр оставляет за собой право изменения стоимости билета любое количество раз за время проката фильма.
        Для процесса оплаты билетов онлайн системой установлен лимит - 15 минут. Оплатой считается факт поступления денежных средств на расчетный счет юридического лица, осуществляющего показ фильма в кинотеатре. Операция списания денежных средств с расчетного счета пользователя при онлайн оплате билетов и поступление их на расчётный счет юридического лица, осуществляющего показ фильма в кинотеатре, может занять некоторое время, что необходимо учитывать при оплате в конце установленного лимита.
        Услуга онлайн покупки сопровождается созданием виртуального билета. Каждому заказу присваивается индивидуальный номер и пароль, которые сообщаются пользователю посредством всплывающего окна/push уведомления/письма на электронную почту. Уточнить информацию о своем заказе зритель может в разделе личного кабинета.
        Пользователь несёт ответственность за хранение и конфиденциальность информации, на основании владения которой он имеет право на получение билета(ов).

        В случае, если при проходе в кинозал заказ (на экране смартфона или распечатанный в терминале самообслуживания) предъявляется более, чем одним пользователем, обладающим данной информацией, билеты выдаются первому, кто предъявит заказ и данные о нем.

        Для распечатки билетов в терминале самообслуживания пользователь должен ввести в соответствующее поле на экране терминала номер заказа и пароль.
        Оплаченный онлайн билет можно не распечатывать. Для того, чтобы пройти на сеанс, необходимо показать администратору кинозала сайт или мобильное приложение «Киномир» на вашем смартфоне, раздел Заказы. Администратор активирует оплаченный заказ (электронный билет).
        При онлайн оплате билеты, если необходимо, можно распечатать в терминале самообслуживания, расположенном в фойе того кинотеатра сети «Киномир», куда они приобретены.

        При оплате билетов на сайте зритель может воспользоваться скидкой по своей дисконтной карте. Для этого дисконтную карту необходимо привязать к аккаунту пользователя на сайте www.kino-mir.ru.
        Для привязки карты к аккаунту необходимо отправить заявку на электронный адрес support@kino-mir.ru с указанием номера телефона, привязанного к карте, и вашего логина на сайте www.kino-mir.ru.

        Номер телефона можно изменить в кассе любого кинотеатра сети «Киномир». Для этого нужно предъявить дисконтную карту кассиру.

        Воспользоваться пригласительным билетом и подарочным сертификатом можно: в кассе кинотеатра, в мобильной версии сайта kino-mir.ru и мобильном приложении Киномир.
        Для этого:

        выберите город, дату кинотеатр, фильм, время сеанса, одно или два места
        нажмите Оплатить
        выберите из выпадающего списка Сертификат
        наведите камеру телефона на QR-код, напечатанный на подарочном сертификате (если у вас онлайн сертификат, его изображение необходимо открыть на другом носителе для считывания индивидуального кода)
        *Количество билетов в заказе должно соответствовать номиналу подарочного сертификата:

        - если в заказе будет больше мест, чем номинал сертификата, "оплата" не пройдет. Заказ останется висеть, как неоплаченный и удалится автоматически через 15 минут.

        - если вы выберете одно место в заказ, а оплачивать будете подарочным сертификатом на две персоны, то он полностью погасится.

        Подарочный сертификат может быть использован единоразово, разница в стоимости билетов не возвращается ни одной из сторон.

        При оплате билетов онлайн подарочной картой можно воспользоваться только в том случае, если она привязана к аккаунту пользователя на сайте www.kino-mir.ru.
        Для привязки карты к аккаунту необходимо отправить заявку на электронный адрес support@kino-mir.ru с указанием номера телефона, привязанного к карте, и вашего логина на сайте www.kino-mir.ru.

        Номер телефона можно изменить в кассе любого кинотеатра сети «Киномир». Для этого нужно предъявить карту кассиру.
        Возврат денежных средств по билетам, оплаченным онлайн, но не распечатанным в терминале самообслуживания производится строго ДО начала сеанса:
        При самостоятельном аннулировании заказа зрителем - автоматически на карту, с которой была произведена оплата. Срок возврата денежных средств на карту - до 45 рабочих дней (зависит от скорости алгоритмов возврата банка, картой которого произведена оплата).
        В кассе кинотеатра, куда приобретены билеты, при предъявлении паспорта и заполнении заявления на возврат билетов. Денежные средства возвращаются на карту, с которой была произведена оплата. Срок возврата денежных средств на карту - до 45 рабочих дней (зависит от скорости алгоритмов возврата банка, картой которого произведена оплата).
        Оплаченные онлайн и распечатанные в терминале самообслуживания билеты подлежат возврату строго ДО начала сеанса только в кассе того кинотеатра, куда они приобретены, при предъявлении паспорта и написании заявления на возврат денежных средств. Денежные средства возвращаются на карту, с которой была произведена оплата. Срок возврата денежных средств на карту - до 45 рабочих дней (зависит от скорости алгоритмов возврата банка, картой которого произведена оплата).
        При покупке билетов онлайн необходимо обращать внимание на наличие возрастных ограничений на посещение фильмов в соответствии с Федеральным законом от 29.12.2010 № 436-ФЗ «О защите детей от информации, причиняющей вред их здоровью и развитию». Сотрудник кинотеатра вправе потребовать от пользователя предъявления документа, подтверждающего его возраст, предупредив о наличии ограничений по возрасту на посещение фильма.
        Приобретение билета в кассе или онлайн не является гарантией пропуска посетителя на фильм при наличии ограничений по возрасту на посещение фильма, установленного прокатным удостоверением.

        Информация и поддержка. По всем вопросам, связанным с оказанием услуги оплаты билетов онлайн, необходимо воспользоваться любым сервисом поддержки пользователей:
        задать вопрос на сайте kino-mir.ru
        написать письмо на электронную почту support@kino-mir.ru с указанием номера заказа (если есть), ФИО, номер телефона, последних 4-х цифр карты, с которой производилась оплата и точной даты оплаты.
        Максимально подробно опишите проблему. Ответ последует в течение 10 рабочих дней, следующих за днем обращения.

        Поддержка пользователей осуществляется в рабочие дни (с понедельника по пятницу) с 9:00 до 17:00 посредством электронной почты, ответа на сайте или по телефону.

        Номера телефонов сети кинотеатров «Киномир» (добавочный номер 7):

        Барнаул +7 (3852) 555-313

        Бийск +7 (3854) 555-613

        Новосибирск +7 (383) 363-23-13.

        Правила посещения кинотеатров:
        “Мир”

        “Киномир-Галактика”

        “Огни”

        “Европа-Киномир”

        “Арена”

        “Киномир в ТРК “Воскресенье”

        “Киномир в ТК “Эдем”
    </div>
</div><footer th:include="fragments/footer"></footer></div>

</body>
</html>