*{
    margin: 0;
    padding: 0;
    color: #c3c3c3;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

a{
    text-decoration: none;
}

body {
    background-color: #18263c !important;
}

.header {
    background-color: #050b24;
    width: 100%;
    min-width: 600px;
    height: 10%;
    max-height: 90px;
    display: table;
    vertical-align: top;
}

.header .logo {
    height: 100px;
    float: left;
}

.header .navigation {
    text-align: center;
    vertical-align: middle;
    height: 100px;
    display: table-cell !important;
    font-size: 32px;
    float: right;
}

.header .navigation a {
    text-decoration: none;
    height: 100%;
    padding: 0 4%;
    float: left;
    display: table;
    position: relative;
}
.header .navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.header .underline:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 35px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 1s ease 0s, left 1s ease 0s;
    width: 0;
    text-decoration: none;
}

.header .underline:hover:after {
    text-decoration: none;
    width: 100%;
    left: 0;
}

.text {
    color: #c3c3c3;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}
.main {
    height: 100%;
}
.data {
    text-align: center;
    background-color: #18263c;
    min-height: 80%;
}

.container {
    margin: 15px auto;
    box-shadow: 0px 0px 10px 1px black;
    padding: 10px;
    border-radius: 5px;

    width: 70%;
    min-width: 600px;
    background-color: #19375e;
}

.login input {
    width: 300px;
    height: 40px;
    border-radius: 30px;
    background-color: #c3c3c3;
    padding: 10px;
    color: black;
    border: black 1px solid;
    margin-bottom: 1rem;
}

.login input:focus {
    outline: none;
}

.login button {
    margin-bottom: 5px;
    width: 300px;
    display: block;
}

.login a {
    margin-bottom: 5px;
    width: 300px;
    display: block;
}

.login h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.w10{min-width: 10%;width: 10%;}
.w20{min-width: 20%;width: 20%;}
.w30{min-width: 30%;width: 30%;}
.w40{min-width: 40%;width: 40%;}
.w50{min-width: 50%;width: 50%;}
.w60{min-width: 60%;width: 60%;}
.w70{min-width: 70%;width: 70%;}
.w80{min-width: 80%;width: 80%;}
.w90{min-width: 90%;width: 90%;}
.w48{width: 48%;}


.header .button {
    padding: 2px 15px;
    background-color: #06152e;
    border-radius: 7px;
    border: 2px solid #9d9696;
    transition: color 0.8s ease, background-color 0.8s ease, border-color 0.8s ease;
}

.header .button:hover {
    border-color: #000000;
    color: #000000;
    background-color: #c3c3c3;
}

.cntr {
    text-align: center !important;
}

.left {
    text-align: left;
}

.right {
    text-align: left;
}

.mauto {
    margin: auto;
}

.bl {
    display: block;
}

.inbl {
    display: inline-block;
}

.conHwer {
}

.conHwer:hover {
    transform: scale(0.97);
    transition: transform .5s ease, box-shadow .5s ease;
}

.movieRow{
    display: inline-block;
    margin: 5px;
    width: 31%;
    min-width: 30%;
    max-width: 40%;
}

.mt10 {margin-top: 10px;}
.mb10 {margin-bottom: 10px;}
.m10 {margin: 10px;}
.mtb10 {margin: 10px 0;}
.mlr10 {margin: 0 10px;}

.feed {
    width: 400px;
    padding:20px;
    margin-bottom: 20px;
    min-width: 0%;
    text-align: left;
}

.dark {
    color: #737373
}

.darkness {
    color: #505050
}

.showTable {

}

.showTable tr {

}

.showTable td {
    padding: 6px 3px;
}

.showTable input {
    border-radius: 0.3em;
    background-image: none;
    border: none;
}


.showTable input:checked[type=checkbox] {
    background-color: #ff0000;
    border-color: #ff0000;
    background-image: none;
}

.showTable input:disabled {
    background-color: #6c6c6c;
}

.showTable label {
    color: #b9b9b9;
    display: block;
    background-color: #fff;
    border-radius: 0.3em;
    width: 16px;
    height: 16px;
    font-size: 13px;

    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
}

.showTable label:hover {
    color: black;
    cursor: pointer;
}

.showTable input:checked ~ label {
    background-color: #ff0000;
    color: black;
}

.showTable input:disabled ~ label {
    background-color: #6c6c6c;
    color: black;
}

.indexCinema {
    width: 26%;
    margin: 2% 3%;
    display: inline-block;
    vertical-align: top;
}

.indexMovie {
    width: 24%;
    margin: 2% 4%;
    display: inline-block;
    vertical-align: top;
}

.ticket {
    display: inline-block;
    margin: 2% 4%;
    vertical-align: top;
    width: 30%;
    border: 1px solid;
    padding: 12px;
}

.link {
    color:white;
    display: inline-block;

    flex-wrap: nowrap;
}


.footer {
    position: relative;
    background-color: #050b24;
    width: 100%;
    min-width: 600px;
    height: 180px;
    display: table;
}

.footer ul {
    margin-top: 100px;
    vertical-align: middle;
    display: table-cell;
}

.footer li {
    display: table-cell;
    margin-left: 10%;
    margin-right: 10%;
}

.wh {
    color: white;
}