*{
    margin: 0;
    padding: 0;
    color: #c3c3c3;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

body {
    background-color: #18263c !important;
}

.header {
    background-color: #050b24;
    width: 100%;
    min-width: 600px;
    height: 10%;
    max-height: 90px;
    display: table;
    vertical-align: top;
}

.header .logo {
    height: 100px;
    float: left;
}

.header .navigation {
    text-align: center;
    vertical-align: middle;
    height: 100px;
    display: table-cell !important;
    font-size: 32px;
    float: right;
}

.header .navigation a {
    text-decoration: none;
    height: 100%;
    padding: 0 4%;
    float: left;
    display: table;
    position: relative;
}
.header .navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.header .underline:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 35px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 1s ease 0s, left 1s ease 0s;
    width: 0;
    text-decoration: none;
}

.header .underline:hover:after {
    text-decoration: none;
    width: 100%;
    left: 0;
}

.footer {
    position: relative;
    background-color: #050b24;
    width: 100%;
    min-width: 600px;
    height: 180px;
}

.text {
    color: #c3c3c3;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}
.main {
    height: 100%;
}
.data {
    text-align: center;
    background-color: #18263c;
    min-height: 80%;
}

.container {
    margin: 15px auto;
    box-shadow: 0px 0px 10px 1px black;
    padding: 10px;
    border-radius: 5px;

    width: 70%;
    min-width: 600px;
    background-color: #19375e;
}

.login input {
    width: 300px;
    height: 40px;
    border-radius: 30px;
    background-color: #c3c3c3;
    padding: 10px;
    color: black;
    border: black 1px solid;
    margin-bottom: 1rem;
}

.login input:focus {
    outline: none;
}

.login button {
    margin-bottom: 5px;
    width: 300px;
    display: block;
}

.login a {
    margin-bottom: 5px;
    width: 300px;
    display: block;
}

.login h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.header .button {
    padding: 2px 15px;
    background-color: #06152e;
    border-radius: 7px;
    border: 2px solid #9d9696;
    transition: color 0.8s ease, background-color 0.8s ease, border-color 0.8s ease;
}

.header .button:hover {
    border-color: #000000;
    color: #000000;
    background-color: #c3c3c3;
}

.cntr {
    text-align: center !important;
}

.mauto {
    margin: auto;
}

.bl {
    display: block;
}

.inbl {
    display: inline-block;
}

.conHwer {
}

.conHwer:hover {
    transform: scale(0.97);
    transition: transform .5s ease, box-shadow .5s ease;
}

.movieRow{
    display: inline-block;
    margin: 5px;
    width: 31%;
    min-width: 30%;
    max-width: 40%;
}

.mt10 {margin-top: 10px;}
.mb10 {margin-bottom: 10px;}
.m10 {margin: 10px;}
.mtb10 {margin: 10px 0;}
.mlr10 {margin: 0 10px;}