<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head" th:with="pageTitle='Кинотеатр'"></head>
<body>

<div class="main"><header th:include="fragments/header"></header><div class="data">

    <div class="container" th:if="${not #lists.isEmpty(movies)}" style="display: inline-block; width: 45%">
        hi eptahgfh
    </div>
    <div class="container" th:if="${not #lists.isEmpty(cinema)}" style="display: inline-block; width: 45%">
        hi eptahgfh
    </div>

    <div class="cntr mt10" style="width: 100%;">
        <div class="w90 mauto" th:if="${not #lists.isEmpty(news)}">
            <a href="/news/"><div class="container conHwer inbl w30 left mlr10" style="vertical-align: top" th:each="story: ${news}">
                <h5 th:text="${story.name}"></h5>
                <span th:text="${story.text}"></span>
            </div></a>
        </div>
    </div>
</div><footer th:include="fragments/footer"></footer></div>
</body>
</html>