<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head" th:with="pageTitle='Кинотеатр'"></head>
<body>

<div class="main"><header th:include="fragments/header"></header><div class="data">

    <div class="container" th:if="${not #lists.isEmpty(movies)}" style="display: inline-block; width: 45%">
        hi eptahgfh
    </div>
    <div class="container" th:if="${not #lists.isEmpty(cinema)}" style="display: inline-block; width: 45%">
        hi eptahgfh
    </div>
    <div class="container cntr" style="width: 70%" th:if="${not #lists.isEmpty(news)}">
        <tr th:each="story: ${news}">
            <td th:text="${story.name}" />
            <td th:text="${story.text}" />
        </tr>
    </div>
</div><footer th:include="fragments/footer"></footer></div>

</body>
</html>