<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head" th:with="pageTitle='Восстановление пароля'"></head>
<body>

<div class="main"><header th:include="fragments/header"></header><div class="data">

    <div class="container cntr" style="width: 45%">
        <div style="margin: 20px;">
            <p class="text-success" th:text="${message}"></p>
            <form action="#" class="login" th:action="@{/forgotPassword}"  method="POST">
                <h2 class="bl" style="margin-bottom: 20px">Восстановление пароля</h2>
                <p>
                    <input type="email" name="email" th:value="email" class="mauto form-control" placeholder="email" required>
                </p>
                <button class="mauto btn btn-outline-success btn-block" type="submit" value="submit">Восстановить</button>
            </form>
        </div>
    </div>
</div><footer th:include="fragments/footer"></footer></div>

</body>
</html>
