<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head" th:with="pageTitle='Восстановление пароля'"></head>
<body>

<div class="main"><header th:include="fragments/header"></header><div class="data">

    <div class="container cntr" style="width: 45%">
        <div style="margin: 20px;">
            <form method="post" class="login" action="/changePassword">
                <h2 class="bl" style="margin-bottom: 20px">Введите ваш новый пароль!</h2>
                <p>
                    <input type="password" id="password" name="password" class="mauto form-control" placeholder="Password" required>
                </p>
                <input type="hidden" name="token" th:value="${token}">
                <button class="mauto btn btn-outline-success btn-block" type="submit" value="submit">Продолжить</button>
            </form>
        </div>
    </div>
</div><footer th:include="fragments/footer"></footer></div>

</body>
</html>